<?xml version="1.0"?>
<robot name="eufs" xmlns:xacro="http://www.ros.org/wiki/xacro">     

    <xacro:include filename="$(find eufs_description)/urdf/bases/ads-dv_base.urdf.xacro" />

    <xacro:include filename="$(find eufs_description)/urdf/wheels/suspension_wheel.urdf.xacro" />

    <xacro:include filename="$(find eufs_description)/sensors/all_sensors.urdf.xacro" />

   
    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:property name="wheel_offset_x" value="1.0" />    
    <xacro:property name="wheel_offset_y" value="0.75" />    
    <xacro:property name="wheel_offset_z" value="0.0" />

    <xacro:property name="hq" value="true" />


    <xacro:eufs_base name="eufs" publish_bf="true" hq="${hq}" />

    <xacro:ros_control/>
    

    <xacro:front_wheel lr_prefix="left" fr_prefix="front"
        lr_reflect="1" fr_reflect="1"/>
    <xacro:front_wheel lr_prefix="right" fr_prefix="front"
        lr_reflect="-1" fr_reflect="1"/>
    <xacro:rear_wheel lr_prefix="left" fr_prefix="rear"
        lr_reflect="1" fr_reflect="-1"/>
    <xacro:rear_wheel lr_prefix="right" fr_prefix="rear"
        lr_reflect="-1" fr_reflect="-1"/>


  


     <xacro:VLP-16  parent="base_link" name="velodyne" topic="/velodyne_points" hz="10">
        <origin xyz="1.700 0.0 -0.150" rpy="0 -0.0174533 0"/>
    </xacro:VLP-16> 

  



</robot>





